@import "../../../../assets/variables/colors.scss";

.reviewer-list-element {
    position: relative;
    height: 200px;
    width: 100%;
    max-width: 100%;
    border: 2px solid $reviewer-list-element-border;
    background-color: $reviewer-list-element;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
    .info-holder-container {
        height: 100%;
        width: 55%;
        display: flex;
        align-items: center;
        justify-content: center;

        .name-period-holder {
            height: 100%;
            width: 40%;

           .reviewer-name {
                height: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 24px;
                font-weight: 600;
                font-style: italic;
                color: $dark-grey;
            }

            .generation-period {
                height: 40%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 16px;
                font-weight: 600;
                font-style: italic;
                color: $dark-grey;
            } 
        }

        .grades-holder {
            height: 100%;
            width: 60%;
            padding: 5px 10px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
            
            >div {
                font-size: 14px;
                font-weight: 600;
                font-style: italic;
                color: $dark-grey;
            }
            
            .ant-slider-disabled{
                cursor: pointer !important;
                margin-left: 0;
                margin-right: 0;
                margin-top: 2px;
            }
            
            .ant-slider-handle {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .ant-slider-handle::after {
                position: relative;
                cursor: pointer !important;
                height: 3px;
                width: 3px;
            }
        }
        
    }

    .teachers-list-container {
        height: 100%;
        flex-grow: 1;
        box-sizing: border-box;
        padding: 10px 15px;

        .teachers-list-holder {
            width: 100%;
            height: 100%;
            border: 2px solid $main-grey-border;
            background-color: $main-grey;
            box-sizing: border-box;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 20px;
            padding: 20px 10px;
            overflow-y: scroll;

            .small-teacher-list-element {
                margin: 0;
            }
        }

        /* width */
        .teachers-list-holder::-webkit-scrollbar {
            width: 10px;
            border-radius: 5px;
        }
        
        /* Track */
        .teachers-list-holder::-webkit-scrollbar-track {
            background: #f1f1f1;
            border-radius: 5px 3px 3px 5px;
        }
        
        /* Handle */
        .teachers-list-holder::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 5px 3px 3px 5px;
        }
        
        /* Handle on hover */
        .teachers-list-holder::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
        
    }

    .buttons-container {
        height: 100%;
        width: 10%;
        max-width: 50px;
        border-radius: 0 3px 3px 0;

        .disabled-button {
            border-radius: 0 3px 0 0;
            height: 40%;
            background-color: $main-grey;
            color: $main-grey-border;
            border: 0;
        }

        .running-button {
            border-radius: 0 3px 0 0;
            height: 40%;
            background-color: $light-green;
            color: $light-green-font;
            border: 0;
        }

        .edit-button {
            height: 30%;
            background-color: $light-blue;
            color: $light-blue-font;
            border-radius: 0;
            border: 0;
        }

        .delete-button, .stopped-button{
            background-color: $light-red;
            color: $light-red-font;
            height: 30%;
            border-radius: 0 0 3px 0;
            border: 0;
        }

        .stopped-button {
            border-radius: 0 3px 0 0;
            height: 40%;
        }

        .running-button:hover {
            background-color: $light-green;
            color: $white;
            border: 0;
        }

        .edit-button:hover {
            background-color: $light-blue;
            color: $white;
            border: 0;
        }

        .delete-button:hover, .stopped-button:hover {
            background-color: $light-red;
            color: $white;
            border: 0;
        }

        .button {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            padding: 0;
        }
    }
}

