@import "../../../assets/variables/colors.scss";

header{
    width: 100vw;
    height: 60px;
    justify-content: space-between;
    background: $dark-grey;
    display: flex;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;

    .main-links {
        width: 70%;
        display: flex;
        align-items: center;
    }

    .secondary-links {
        width: 30%;
        display: flex;
        justify-content: end;
        align-items: center;
    }
    
    a {
        color: $white;
        font-size: 20px;
        font-weight: 400;
        line-height: normal;
        margin: 0 10px 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a:hover {
        cursor: pointer;
    }
}