@import "../../../assets/variables/colors.scss";

header{
    width: 100vw;
    height: 60px;
    flex-shrink: 0;
    background: $dark-grey;
    display: flex;
    align-items: center;
    
    a {
        color: $white;
        font-size: 20px;
        font-weight: 400;
        line-height: normal;
        margin: 0 0 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}