@import "../../../../assets/variables/colors.scss";

.add-department-modal{
    width: fit-content !important;

    .ant-modal-content{
        width: 600px;
        height: 260px;
        border-radius: 10px;
        background-color: $white;
        border: 2px solid $main-grey-border;
        position: relative;
        padding: 10px 20px;
    
        .ant-modal-close {
            display: none;
        }
    
        .ant-modal-body{
            height: 80%;
            width: 100%;
            
            .create-departments-form {
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                
                .ant-upload-wrapper {
                    height: 90%;
                    width: 40%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .ant-upload {
                        background-color: $input-white;
                        height: 80%;
                        width: 70%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                }

                .ant-form-item {
                    width: 40%;
                }

                label {
                    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;;
                    font-size: 16px;
                    font-weight: 600;
                    color: $dark-grey;
                }

                .ant-col {
                    padding: 0;
                }

                input {
                    color: $dark-grey;
                    font-size: 16px;
                    background-color: $input-white;
                    font-weight: 500;
                    font-style: italic;
                }

                input:active, input:hover, input:focus {
                    border: $gold 2px solid;
                }
            }
            
        }
    
        .ant-modal-footer{
            margin-top: 0;
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 20%;

            .button {
                color: $white;
                font-size: 15px;
                width: 40%;
            }

            .create-button {
                font-weight: bold;
                
                background-color: $blue;
            }

            .create-button:hover {
                border: 3px solid $gold !important;
                color: $gold;
            }

            .cancel-button {
                font-weight: bold;
                background-color: $red;
            }

            .cancel-button:hover {
                font-weight: bold;
                border: 3px solid $gold !important;
                color: $gold;
            }
        }
    }
}