@import "../../../../assets/variables/colors.scss";

.add-department-list-element {
    margin: 20px 20px 0 20px;
    height: 190px;
    width: 140px;
    border-radius: 7px;
    background-color: $white;
    border: $main-grey-border 4px solid;
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $main-grey-border;
    font-size: 60px;
}

.add-department-list-element:hover {
    color: $gold;
    border-color: $gold;
}
