@use "../../../assets/variables/colors.scss" as *;

tr {
    width: 100%;
    
    td {
        border-top: 1px solid $main-grey-border !important;
        color: $dark-grey;
        padding: 10px 5px;
        
        .ant-checkbox-group-item span {
            color: $dark-grey;
        }

        .anticon {
            svg {
                width: 20px;
                height: 20px;
            }
        }
    }

    .username-data {
        display: flex;
        align-items: center;
        justify-content: start;
        box-sizing: border-box;
        height: 100%;

        .owner-icon-placeholder {
            width: 25px;
            height: 20px;
        }

        .anticon {
            margin-right: 5px;

            svg {
                color: rgb(190, 148, 9);
            }
        }
    }

    .buttons-holder {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        height: 100%;
        box-sizing: border-box;

        .send-button {
            border-radius: 3px;
            height: 70%;
            background-color: $light-green;
            color: $light-green-font;
            border: 0;
        }

        .delete-button {
            background-color: $light-red;
            color: $light-red-font;
            height: 70%;
            border-radius: 3px;
            border: 0;
            box-sizing: border-box;
        }

        .delete-button:hover {
            background-color: $light-red !important;
            color: $active-section-color !important;
            border-radius: 3px;
            border: 2px solid $light-red-font !important;
        }

        .send-button:hover {
            background-color: $light-green !important;
            color: $active-section-color !important;
            border-radius: 3px;
            border: 2px solid $light-green-font !important;
        }

        .button {
            width: 45%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            padding: 0;
            height: 30px;
        }
    }
}