@import "../../../../assets/variables/colors.scss";

.teachers-list-element {
    display: block;
    height: 200px !important;
    width: 140px !important;
    border-radius: 7px;
    background-color: $white;
    border: $main-grey-border 2px solid;
    position: relative;
    margin-right: 30px;
    padding: 0 10px 0 10px;
    
    .blue-circle {
        border-radius: 50%;
        background-color: $dark-blue;
        height: 120px;
        width: 120px;
        margin: auto;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        .department-icon {
            border-radius: 50%;
            background-color: $white;
            height: 110px;
            width: 110px;
        }
    }

    .caption-holder {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        background-color: $dark-blue;
        border-radius: 0 0 5px 5px;
        color: $white;
        font-style: italic;
    }
}

.teachers-list-element:hover {
    border: $gold 2px solid;

    .blue-circle {
        background-color: $gold;
    }

    .caption-holder {
        font-weight: 500;
        color: $gold;
    }
}