$dark-grey: #555451;
$main-grey: #dbdbd9;
$white: #f7f7f7;
$input-white: #ecece8;
$dark-green: #3d7735;
$dark-blue: #1f618d;
$disabled-dark-blue: #8c8e8f;
$gold: #bea40d;
$blue: #2c86c2;
$red: #a53728;
$reviewer-list-element: #dbebe8;
$light-blue: #228bee50;
$light-red: #e6291080;
$light-green: #32b92071;
$light-blue-font: #319fdf;
$light-red-font: #ec452f;
$light-green-font: #23a012;

$main-grey-border: #999992;
$reviewer-list-element-border: #b0d8c9;

$selected-teachet-curtain: #ffffff93;

$chart-gold: #FFD700;
$chart-silver: #C0C0C0;
$chart-bronze: #CD7F32;

$auth-form-background-color: #DBDBD9;
$text-main-grey: #555451;
$active-section-color: #fff8d7;
$login-form-button-hover-color: #88847d;