$dark-grey: #555451;
$main-grey: #dbdbd9;
$white: #f7f7f7;
$input-white: #ecece8;
$dark-green: #3d7735;
$dark-blue: #1f618d;
$disabled-dark-blue: #8c8e8f;
$gold: #bea40d;
$blue: #2c86c2;
$red: #a53728;
$reviewer-list-element: #dbebe8;
$light-blue: #228bee50;
$light-red: #e6291080;
$light-green: #32b92071;
$light-blue-font: #319fdf;
$light-red-font: #ec452f;
$light-green-font: #23a012;

$main-grey-border: #999992;
$reviewer-list-element-border: #b0d8c9;

$selected-teachet-curtain: #ffffff93;

