$dark-grey: #555451;
$main-grey: #dbdbd9;
$white: #f7f7f7;
$input-white: #ecece8;
$dark-green: #3d7735;
$dark-blue: #1f618d;
$gold: #bea40d;
$blue: #2c86c2;
$red: #a53728;

$main-grey-border: #999992;

