@import "../../assets/variables/colors.scss";

.teacher-details-page {
    display: flex !important;
    justify-content: center;
    flex-direction: column;
    gap: 10%;
    padding: 40px;
    
    .teacher-main-info-section {
        height: 270px;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px 30px 10px 30px;
    }

    .grades-realtime-charts-section {
        min-height: 300px;
        height: fit-content;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    .adjustable-chart-section {
        flex-grow: 1;
        border: 2px green solid;
    }
}