@import "../../../../assets/variables/colors.scss";

.small-teacher-list-element {
    display: block;
    height: 140px !important;
    width: 90px !important;
    border-radius: 7px;
    background-color: $white;
    border: $dark-blue 2px solid;
    position: relative;
    margin-right: 30px;
    padding: 0 10px 0 10px;
    
    .teacher-icon {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: $white;
        border-radius: 5px 5px 0 0;
        height: 110px;
        width: 110px;
    }

    .caption-holder {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        background-color: $dark-blue;
        border-radius: 0 0 5px 5px;
        color: $white;
        font-style: italic;
    }
}

.teachers-list-element:hover {
    border: $gold 2px solid;

    .blue-circle {
        background-color: $gold;
    }

    .caption-holder {
        font-weight: 500;
        color: $gold;
    }
}