@import "../../assets/variables/colors.scss";

.department-details-page {
    display: flex !important;
    justify-content: center;
    flex-direction: column;
    gap: 10%;
    padding: 40px;
    
    .department-info-holder {
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $dark-green;
        padding: 0 20px;
        border-radius: 5px;
        margin-bottom: 20px;

        .teachers-list {
            border: red 2px solid;
            height: 100% !important;
            width: 75%;
            display: flex;
            justify-content: start;
            align-items: center;
            padding: 20px;
            overflow-x: scroll;
            border: 2px $main-grey-border solid;
            border-radius: 10px;
            background-color: $main-grey;
        }

        .teachers-list::-webkit-scrollbar {
            display: none;
        }
    }

    .grades-realtime-charts-section {
        margin-top: 20px;
        min-height: 300px;
        height: fit-content;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        border: 2px $main-grey-border solid;
        padding: 20px;
        border-radius: 10px;
        background-color: $main-grey;
    }
}